.contenedor {
  width: 51%;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
  padding: 30px;
  border-radius: 10px;
  background-color: rgba(2, 2, 2, 0.4);
  height: 350px;
}

.retrato {
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
}
